<table class="bordered edit-view-table">
    <tr>
        <td>Title</td>
        <td>
            <input type="text" ng-model="editedBook.title">
        </td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <textarea ng-model="editedBook.descr"></textarea>
        </td>
    </tr>
    <tr>
        <td>Date</td>
        <td>
            <input type="date" ng-model="editedBook.createdAt">
        </td>
    </tr>
    <tr>
        <td>Image</td>
        <td>
            <input type="text" ng-model="editedBook.image">
        </td>
    </tr>
</table>
<div style="text-align: center; padding: 5px">
    <td><button class="waves-effect waves-light btn" ng-click="routeToList()">Back</button></td>
    <td><button class="waves-effect waves-light btn" ng-click="saveBook()">Save</button></td>
</div>